html, body {
	background-color: #FFF;
		background-image: url('bg.png');
	color: #000;
	margin: 0;
	padding: 0;
	text-align: center;

}

#top {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
					  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);

}

#logo {
	 background-image: url('logo.png');
		height: 250px;
			background-color: #e9e9e9;

}




#info {
	height: auto;
	width: 180px;
	float: right;
	overflow: hidden;
	background-color: #e9e9e9;

}
#info-bar {
	color:#617798; 
	margin-left: 5px;
	font-size: 15px;
	font-family: Arial;
	text-align: left;
	float: left;

}
	

#board {
	width: 420px;
	height: auto;
	float: left;

	
	background-color: #fff;
}

#title {


	color:#5a5a5a; 
	margin-left: 20px;
	font-size: 20px;
	font-family: Agency FB;
	text-align: center;
	width: 420px;
	height: 40px;
	float: center;
	margin: 0;
	overflow: hidden;
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}

#info-title {


	color:#5a5a5a; 
	margin-left: 20px;
	font-size: 20px;
	font-family: Agency FB;
	text-align: center;
	width: 180px;
	height: 40px;
	float: left;
	margin: 0;
	overflow: hidden;
 background: #dddddd url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAMAAAA8eE0hAAAAUVBMVEX////MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzNzc3l5eXg4ODZ2dnMzMzi4uLS0tLe3t7Q0NDV1dXj4+PW1tbk5OTc3NzPz8/R0dH0Zv5RAAAAC3RSTlMAM2YekAmlPHuEAwArv7wAAAA/SURBVHheY2Dl5mdigABGKV5BNnYok4dHQpKFGcrkEefj5gAzQUBABM7kFYQyRcX4mUBMkEpOLrA2IWGwfgYAn0UDZszv8IwAAAAASUVORK5CYII=) repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e5e5e5), color-stop(1, #dddddd));
    background-image: -webkit-linear-gradient(top, #e5e5e5, #dddddd);
    background-image: -moz-linear-gradient(top, #e5e5e5, #dddddd);
    background-image: -ms-linear-gradient(top, #e5e5e5, #dddddd);
    background-image: -o-linear-gradient(top, #e5e5e5, #dddddd);
    background-image: linear-gradient(#e5e5e5, #dddddd);
	}


#news-title {


	color:#617798; 
	font-size: 20px;
	font-family: Arial;
	text-align: left;
	height: 40px;
	overflow: hidden;

}



#news-date {


	color:#617798; 
	margin-left: 20px;
	font-size: 10px;
	font-family: Arial;
	text-align: right;
	width: 410px;
	float: center;
	margin: 0;
	overflow: hidden;

}

#content {


	color:#5a5a5a; 
	margin-left: 20px;
	font-size: 16px;
	font-family: Arial;
	text-align: left;
	width: 410px;
	height: auto;
	min-height: 398px;
	
	margin: 5;
white-space:normal;

}

#bottom {
	clear: both;
	width: 100%;
	background-color:  #e9e9e9;
	-moz-border-radius: 0px 0px 8px 8px;
  -webkit-border-radius: 0px 0px 8px 8px;
  border-radius: 0px 0px 8px 8px;

}


#panel {
		height: 200px;
	width: 200px;
	float: left;
	overflow: hidden;
	background-color: #ccc;
	
	
}

#input-panel {
	  padding-left: 20px;  
}

#user {
	 margin: 5px;
	background-color: #8d9eb9;
	box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
	overflow: hidden;

	font-size: 20px;
	font-family: Agency FB;
	text-align: center;

   }
#user a {
	margin: 5px;
	font-size: 15px;
	color: #ececec;
	text-align: center;
	text-decoration: none;
   }   
   #user a:hover {
	font-size: 15px;
	color: #a5c2ee;

   }   


   
   
   
 #mess {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

 height: 30;
}   
   
#mess .head{

float: left;

} 
#mess .head2{
float: right;
margin:5;
} 

.head2 a {
	margin: 5px;
	font-size: 17px;
	color: gray;
	text-align: center;
	text-decoration: none;
   }  
.head2 a:hover {
	margin: 5px;
	font-size: 17px;
	color: #4c6fac;
	text-align: center;
	text-decoration: none;

   }     


#message .bar{
    background: #FFFFFF url('bg_form.png') left top repeat-x;  
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	    border: solid 1px #E5E5E5;  
padding-top: 6;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
width: 20%;
float: left;
 border: 1px solid #FFF;
margin-top:5;

}
#message .bar2{
background-color: gray;
width: 78%;
margin-top:5;
color: black;

float: right;
overflow: hidden;
 border: 1px solid #FFF;
background: rgb(222,239,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */

}


#message .cont{
color: black;
background-color: gray;
width: 78%;
height: 200;
float: right;
white-space:normal;
overflow: hidden; 
 border: 1px solid #FFF;
 margin-top:5;
background: rgb(222,239,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */


}
  

.mlist{
margin:0px;padding:0px;
	width:100%;
	

background: rgb(152,190,222); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(152,190,222,1) 0%, rgba(175,216,255,1) 50%, rgba(152,190,222,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(152,190,222,1)), color-stop(50%,rgba(175,216,255,1)), color-stop(100%,rgba(152,190,222,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(152,190,222,1) 0%,rgba(175,216,255,1) 50%,rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(152,190,222,1) 0%,rgba(175,216,255,1) 50%,rgba(152,190,222,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(152,190,222,1) 0%,rgba(175,216,255,1) 50%,rgba(152,190,222,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(152,190,222,1) 0%,rgba(175,216,255,1) 50%,rgba(152,190,222,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98bede', endColorstr='#98bede',GradientType=1 ); /* IE6-9 */

}

.mlist table{
	margin:0px;padding:0px;
}


.tw{

    font: normal 10px/100% Verdana, Tahoma, sans-serif;  
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */


}
.tw:hover{
    font: normal 10px/100% Verdana, Tahoma, sans-serif;  
background: rgb(254,191,1); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,191,1,1) 0%, rgba(254,191,1,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,191,1,1)), color-stop(100%,rgba(254,191,1,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,191,1,1) 0%,rgba(254,191,1,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,191,1,1) 0%,rgba(254,191,1,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,191,1,1) 0%,rgba(254,191,1,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,191,1,1) 0%,rgba(254,191,1,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=0 ); /* IE6-9 */

}

#table{
width: 100%;

background: #eeeeee; /* Old browsers */

	
}

   
.ok {
border:solid 2px #DEDEDE;
background:#268700; 
color:#FFF;
padding:4px;
text-align:center;
	}

.error{
border:solid 2px #DEDEDE;
background:#b91100; 
color:#FFF;
padding:4px;
text-align:center;
}


/* input */


input, textarea, select{   
	margin: auto;
    padding: 5px;  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
    width: 150px;  
    background: #FFFFFF url('bg_form.png') left top repeat-x;  
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    }  
  
textarea{   
    width: 350px;  
    max-width: 350px;  
    height: 150px;  
    line-height: 150%;  
    }  
  
input:hover, textarea:hover, select:hover
input:focus, textarea:focus, select:focus {   
    border-color: #C9C9C9;   
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
    }  
  
.form label {   
    margin-left: 10px;   
    color: #999999;   
	margin: auto;
    }  
  
.submit input {  
    width: auto;  
    padding: 9px 15px;  
    background: #617798;  
    border: 0;  
    font-size: 14px;  
    color: #FFFFFF;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    }


#right {
 width: 200;  
  float: left;
  	height: auto;
  background-color: #ccc;
  }



/*
MENU
/*


/* Starter CSS for Flyout Menu */
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0; 
  float: left;
  	height: auto;
  background-color: #ccc;
  }

#cssmenu ul, li {
  list-style: none;
  margin: 0;
  padding: 0;

  }

#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left; }

#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle; }

#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default; }

#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%; }

#cssmenu ul ul li {
  float: none; }

#cssmenu ul li:hover > ul {
  visibility: visible; }

#cssmenu ul ul {
  top: 0;
  left: 100%; }

#cssmenu ul li {
  float: none; }

/* Custom Stuff */
#cssmenu {

  width: 200px; }
  #cssmenu span, #cssmenu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none; 
	}
	
  #cssmenu:after, #cssmenu ul:after {
    content: '';
    display: block;
    clear: both; }
  #cssmenu > ul > li:first-child {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  #cssmenu > ul > li:last-child {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  #cssmenu > ul > li ul ul {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  #cssmenu > ul > li ul ul li:first-child {
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  #cssmenu > ul > li ul ul li:last-child {
    -moz-border-radius: 0 0 5px 0;
    -webkit-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  #cssmenu ul, #cssmenu li {
    width: 100%; }
  #cssmenu li {
    background: #dddddd url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAMAAAA8eE0hAAAAUVBMVEX////MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzNzc3l5eXg4ODZ2dnMzMzi4uLS0tLe3t7Q0NDV1dXj4+PW1tbk5OTc3NzPz8/R0dH0Zv5RAAAAC3RSTlMAM2YekAmlPHuEAwArv7wAAAA/SURBVHheY2Dl5mdigABGKV5BNnYok4dHQpKFGcrkEefj5gAzQUBABM7kFYQyRcX4mUBMkEpOLrA2IWGwfgYAn0UDZszv8IwAAAAASUVORK5CYII=) repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e5e5e5), color-stop(1, #dddddd));
    background-image: -webkit-linear-gradient(top, #e5e5e5, #dddddd);
    background-image: -moz-linear-gradient(top, #e5e5e5, #dddddd);
    background-image: -ms-linear-gradient(top, #e5e5e5, #dddddd);
    background-image: -o-linear-gradient(top, #e5e5e5, #dddddd);
    background-image: linear-gradient(#e5e5e5, #dddddd); }
    #cssmenu li:hover {
      background: #f6f6f6; }
  #cssmenu a {
    color: #666666;
    line-height: 160%;
    padding: 11px 28px 11px 28px;
    width: 144px; }
  #cssmenu ul ul {
    border: 1px solid #dddddd;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
    #cssmenu ul ul li {
      background: #f6f6f6; }
      #cssmenu ul ul li:hover {
        background: #dddddd; }
        #cssmenu ul ul li:hover a {
          color: #AE0001; }
      #cssmenu ul ul li ul li {
        background: #dddddd; }
        #cssmenu ul ul li ul li:hover {
          background: #b7b7b7; }
  #cssmenu .has-sub {
    position: relative; }
    #cssmenu .has-sub:after, #cssmenu .has-sub > ul > .has-sub:hover:after {
      content: '';
      display: block;
      width: 10px;
      height: 9px;
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -5px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAMAAAA8eE0hAAAAUVBMVEX////MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzNzc3l5eXg4ODZ2dnMzMzi4uLS0tLe3t7Q0NDV1dXj4+PW1tbk5OTc3NzPz8/R0dH0Zv5RAAAAC3RSTlMAM2YekAmlPHuEAwArv7wAAAA/SURBVHheY2Dl5mdigABGKV5BNnYok4dHQpKFGcrkEefj5gAzQUBABM7kFYQyRcX4mUBMkEpOLrA2IWGwfgYAn0UDZszv8IwAAAAASUVORK5CYII=);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); }
    #cssmenu .has-sub > ul > .has-sub:after, #cssmenu .has-sub:hover:after {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAMAAAA8eE0hAAAAUVBMVEX////d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3e3t729vbx8fHq6urd3d3z8/Pj4+Pv7+/h4eHm5ub09PTn5+f19fXt7e3g4ODi4uLUsVdlAAAAC3RSTlMAM2YekAmlPHuEAwArv7wAAAA/SURBVHheY2Dl5mdigABGKV5BNnYok4dHQpKFGcrkEefj5gAzQUBABM7kFYQyRcX4mUBMkEpOLrA2IWGwfgYAn0UDZszv8IwAAAAASUVORK5CYII=); }

	  
	  
